<%- include dashboard-header %>
    <div class="row">

      <div class="col-md-2">
        <%- include nav-left %>
      </div>
      <div class="col-md-10">
        <h1>Settings</h1>
      </div>
    </div>


<%- include dashboard-footer %>
